/* ProductForm.css */
.product-form {
    background-color: #f8f9fa; /* Светлый фон */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.product-form h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #343a40; /* Темный текст */
}

.product-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* Жирный текст для меток */
}

.product-form .input {
    margin-bottom: 15px; /* Отступ между полями */
}

.product-form .button {
    width: 100%; /* Кнопка на всю ширину */
    font-weight: bold; /* Жирный текст для кнопки */
}

.product-form select {
    width: 100%; /* Полный размер для выбора категории */
    padding: 10px;
    border: 1px solid #ced4da; /* Цвет границы */
    border-radius: 4px; /* Закругленные углы */
    background-color: #fff; /* Белый фон */
    margin-bottom: 15px; /* Отступ между полями */
}

.product-form h4 {
    margin: 15px 0 5px; /* Отступы для заголовков */
}



.related-products {
    margin-top: 20px;
}

.related-products label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.related-products-checkboxes {
    max-height: 300px; /* Ограничиваем высоту контейнера */
    overflow-y: auto; /* Добавляем вертикальную прокрутку */
    border: 1px solid #ccc; /* Граница для визуального отделения */
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9; /* Светлый фон */
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-item label {
    margin-left: 8px;
    font-size: 14px;
}

.checkbox-item input {
    cursor: pointer;
}
